<h1 class="mt3">Pipes <small>Angular</small></h1>
<hr>

<div class="row">
  <div class="col">
    <table class="table">
      <thead class="thread-dark">
        <tr>
          <th> Variable </th>
          <th> Pipe </th>
          <th> Salida </th>
          <th> Descripción </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> {{nombre}} </td>
          <td> uppercase </td>
          <td> {{nombre | uppercase}}</td>
          <td> Poner las letras en mayúscula </td>
        </tr>

        <tr>
          <td> {{nombre}} </td>
          <td> lowercase </td>
          <td> {{nombre | lowercase}}</td>
          <td> Poner las letras en minúscula </td>
        </tr>

        <tr>
          <td> {{nombre}} </td>
          <td> slice:3 </td>
          <td> {{nombre | slice:3}}</td>
          <td> Remover los X primeros carácteres </td>
        </tr>

        <tr>
          <td> {{nombre}} </td>
          <td> slice:0:3 </td>
          <td> {{nombre | slice:0:3}}</td>
          <td> Remover desde hasta los X carácteres</td>
        </tr>

        <tr>
          <td> {{arreglo}} </td>
          <td> slice:1:5 </td>
          <td> {{arreglo | slice:1:5}}</td>
          <td> Remover desde hasta los X carácteres en un array</td>
        </tr>

        
        <tr>
          <td> {{PI}} </td>
          <td> number: 3.0-0 </td>
          <td> {{PI | number:'3.0-0'}}</td>
          <td> Convierte PI en el número PI y manejo de decimales</td>
        </tr>

        <tr>
          <td> {{PI}} </td>
          <td> number: .0-2 </td>
          <td> {{PI | number:'.0-2'}}</td>
          <td> Convierte PI en el número PI y manejo de decimales</td>
        </tr>

        <tr>
          <td> {{porcentaje}} </td>
          <td> percent </td>
          <td> {{porcentaje | percent}}</td>
          <td> Convertimos numero en porcentaje</td>
        </tr>

        <tr>
          <td> {{porcentaje}} </td>
          <td> percent </td>
          <td> {{porcentaje | percent:'2.2-2'}}</td>
          <td> Convertimos numero en porcentaje con manejo de decimales</td>
        </tr>


      </tbody>
    </table>

    <h4>Slice</h4>
    <ul>
      <li *ngFor="let item of arreglo | slice:5:20"> {{item}} </li>
    </ul>
    
  </div>
</div>
